// @import '_customvariables.scss';
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap-compass';
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/theme';
@import 'node_modules/slick-carousel/slick/slick.scss';
// @import 'node_modules/slick-carousel/slick/slick-theme.scss';

body {
  overflow-x: hidden;
}

.padd-ver-base {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padd-hor-base {
  padding-left: 10px;
  padding-right: 10px;
}

.padd-hor-none {
  padding-left: 0;
  padding-right: 0;
}

.padd-ver-none {
  padding-top: 0;
  padding-bottom: 0;
}

.padd-none {
  padding: 0;
}

.marg-ver-base {
  margin-top: 10px;
  margin-bottom: 10px;
}

.marg-hor-base {
  margin-left: 10px;
  margin-right: 10px;
}

.marg-hor-none {
  margin-left: 0;
  margin-right: 0;
}

.marg-ver-none {
  margin-top: 0;
  margin-bottom: 0;
}

.marg-none {
  margin: 0;
}

.header-menulist {
  & li {
    padding-left: 15px;
    padding-right: 15px;
    border-right: 1px solid black;
    &:last-child {
      border-right: 0
    }
    >a {
      text-decoration: underline;
    }
  }
}

.sidemenu {
  max-width: 320px;
  min-width: 320px;
  min-height: 150px;
  position: relative;
}

.product-card {
  border: 1px solid #d6d6d6;
  .img-thumbnail {
    border: 0;
  }
}

.my-btn-rounded {
  padding: 5;
  border-radius: 15;
  border: 1px solid black
}